@model BootstrapExample.Models.Autor

@{
    ViewBag.Title = "Eliminar";
    Layout = null;
}

<div class="modal fade" id="modalEliminacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dissmiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Cerrar</span>
                </button>
                <h4 class="modal-title">Confirmación de eliminación de autor</h4>
            </div>
            <div class="modal-body">
                <h3>¿Estas seguro de que quieres eliminar el autor?</h3>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.PrimerNombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PrimerNombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SegundoNombre)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SegundoNombre)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Biografia)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Biografia)
                        </dd>

                    </dl>
                </div>
            </div><!-- / .modal.body -->
            <div class="modal-footer">

                @using (Html.BeginForm("Delete", "Autores", FormMethod.Post, new { data_bind = "submit: eliminaAutor" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color text-center" data-bind="visible: !enviando()">
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                        <button type="button" class="btn btn-default" data-dissmiss="modal">Cerrar</button>
                    </div>

                    <div class="progress" data-bind="visible: enviando">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                }

            </div>
        </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialog -->
</div><!-- / .modal -->
