@model IEnumerable<BootstrapExample.Models.Autor>
@using BootstrapExample.Models

@{
    ViewBag.Title = "Autores";
    var queryOptions = (QueryOptions)ViewBag.QueryOptions;
}

<h2>Autores</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.PrimerNombre)*@
                @Html.BuildSortableLink("Primer Nombre", "Index", "primerNombre", queryOptions)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SegundoNombre)*@
                @Html.BuildSortableLink("Segundo Nombre", "Index", "segundoNombre", queryOptions)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: autores">
        <tr>
            <td data-bind="text: primerNombre">
            </td>
            <td data-bind="text: segundoNombre">
            </td>
            <td>
                <a data-bind="attr: { href: '@Url.Action("Details")/' + id }" class="btn btn-info">Detalles</a>
                <a data-bind="attr: { href: '@Url.Action("Edit")/' + id }" class="btn btn-primary">Editar</a>
                <a data-bind="click: $parent.muestraModalEliminacion, attr: { href: '@Url.Action("Delete")/' + id }" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
@Html.BuildPaggingLinks(queryOptions, "Index")

@section Scripts{
    @Scripts.Render("/Scripts/ViewModels/AutorIndexViewModel.js")
    <script>
        var viewModel = new AutorIndexViewModel(@Html.HtmlConvertToJson(Model));
        ko.applyBindings(viewModel);
    </script>    
}